:root{
    --bg-color: #ffffff;
    --text-color: #111827;
    --card-color: #f3f4f6;
    --accent-color: #01a13c;
}

body.dark{
    --bg-color: #111827;
    --text-color: #f9fafb;
    --card-color: #1f2937;
}

body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);

    transition:
        background-color .3s,
        color .3s;

    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    background-color: var(--bg-color);

    position: sticky;
    top: 0;

    z-index: 100;
}

nav ul{
    display: flex;
    gap: 30px;

    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
}

.theme-switch{
    position: relative;
}

.theme-switch__input{
    display: none;
}

.theme-switch__label{
    position: relative;

    display: block;

    width: 70px;
    height: 35px;

    border-radius: 50px;

    background-color: #64748b;

    cursor: pointer;

    transition: .3s;
}

.theme-switch__label::before{
    content: "☀";

    position: absolute;
    left: -21px;
    top: 50%;

    transform: translateY(-50%);

    color: #f59e0b;
}

.theme-switch__label::after{
    content: "☾";

    position: absolute;
    right: -17px;
    top: 50%;

    transform: translateY(-50%);

    color: #94a3b8;
}

.theme-switch__label span{
    position: absolute;

    top: 3px;
    left: 3px;

    width: 29px;
    height: 29px;

    border-radius: 50%;

    background-color: white;

    transition: .3s;

    box-shadow: 0 2px 8px rgba(0,0,0,.25);
}

.theme-switch__input:checked
+ .theme-switch__label{
    background-color: #64748b;
}

.theme-switch__input:checked
+ .theme-switch__label span{
    transform: translateX(35px);
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 40px;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

.menu-links {
    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    height: 100vh;

    background-color: var(--accent-color);

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.5s ease,
        visibility 0s linear 0.5s;

    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-links h1,
.menu-links li {
    opacity: 0;
    transform: translateY(20px);

    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.menu-links.open h1,
.menu-links.open li {
    opacity: 1;
    transform: translateY(0);
}

.menu-links h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}

.menu-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.menu-links a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.menu-links li {
    list-style: none;
    margin: 20px 0;
}

.menu-links.open {
    opacity: 1;
    visibility: visible;

    transition:
        opacity 0.5s ease,
        visibility 0s linear 0s;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(6px, -6px);
}

.menu-links.open h1 {
    transition-delay: 0s;
}

.menu-links.open li:nth-child(1) {
    transition-delay: 0.1s;
}

.menu-links.open li:nth-child(2) {
    transition-delay: 0.2s;
}

.menu-links.open li:nth-child(3) {
    transition-delay: 0.3s;
}

.menu-links.open li:nth-child(4) {
    transition-delay: 0.4s;
}

body.no-scroll {
    overflow: hidden;
}